/* NAVBAR */
.navbar {
  display: flex;
  position-anchor: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 16px 75px;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 2px 5px rgba(98, 145, 255, 0.2);
  position: sticky;
  z-index: 1000;
}
.logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(52, 90, 214);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 45px;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.nav-link.active {
  color: rgb(52, 90, 214);  
  font-weight: bold;  
  border-bottom: 2px solid rgb(52, 90, 214); 

}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.nav-links a:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
    .logo{
        display: none; 
    }
    .nav-links{
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
}



/* PAGE NOT FOUND */
.message404{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
}



/* INTRO */
.intro-section{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 150px;
  gap: 50px
}
.intro{
  color: white; 
  text-align: left;
  width: 50%;
}
.intro-words{
  padding-top: -150px;
}
.intro-h1{
  font-size: 3.25rem;
}
.intro-h2{
  font-size: 2rem;
}
.intro-content{
  font-size: 1.20rem;
}
.blue-text{
  color: rgb(52, 90, 214);
}
.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 1ch;
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% { opacity: 0; }
}
.profile {
  float: right; 
  width: 20rem; 
  height: 27rem; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 50%; 
  box-shadow:
    0 0 250px 60px rgba(52, 90, 214, 0.537),          
    0 0 140px 70px rgba(128, 115, 53, 0.292);         
  position: relative;
  animation: moveGlow 16s infinite ease-in-out;
}

@keyframes moveGlow {
  0% {
    box-shadow:
      0 0 250px 60px rgba(52, 90, 214, 0.425),
      0 0 150px 70px rgba(128, 115, 53, 0.292);
  }
  25% {
    box-shadow:
      0 0 260px 70px rgba(52, 90, 214, 0.35),
      35px -10px 150px 70px rgba(128, 116, 53, 0.201);
  }
  50% {
    box-shadow:
      0 0 230px 50px rgba(52, 90, 214, 0.452),
      -45px 50px 150px 70px rgba(128, 115, 53, 0.292);
  }
  75% {
    box-shadow:
      0 0 160px 70px rgba(52, 90, 214, 0.35),
      40px 60px 150px 70px rgba(128, 116, 53, 0.411); 
  }
  100% {
    box-shadow:
      0 0 250px 60px rgba(52, 90, 214, 0.425),
      0 0 150px 70px rgba(128, 115, 53, 0.292);
  }
}
.social-icons{
  margin-top: 15px;
  display: flex;
  gap: 10px; 
}
.social-icons a{ 
  color: white; 
}
.social-icons a:hover {
  color: rgb(52, 90, 214);
}
.hire-me-btn {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  margin-top: 25px; 
  font-size: 18px;
  font-weight: bold;
  color: rgb(52, 90, 214);
  border: 2px solid rgb(52, 90, 214);
  border-radius: 25px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.btn-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(52, 90, 214);
  z-index: 0;
  transition: width 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 0px rgb(52, 90, 214);
}
.hire-me-btn:hover .btn-fill {
  width: 100%;
  box-shadow: 0 0 10px rgb(52, 90, 214),
              0 0 20px rgb(52, 90, 214),
              0 0 30px rgb(52, 90, 214);
}
.btn-text {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.hire-me-btn:hover .btn-text {
  color: white;
  font-weight: bold;
}

@media (max-width: 900px) {
  .profile{
    display: none; 
  }
    
  .intro{
    width: 100vw; 
    margin: 2vw;
    margin-top: 1vh;
  }
  .intro-section{
    justify-content: left;
    margin-top: 1vh;
  }
}


/* ProjectCarousel */
.carousel-section {
  width: 100vw;
  margin-top: 10vh;
  padding: 0rem 0rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 600px; 
  display: flex;
  align-items: center; 
  overflow-x: auto; 
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-track {
  display: flex;
  gap: 6rem; 
  padding: 0 2rem; 
  box-sizing: border-box;
  align-items: center; 
  width: max-content; 
}

.carousel.dragging {
  cursor: grabbing;
}

.project-card {
  flex: 0 0 400px;
  display: flex;
  justify-content: center;
  
}

.card {
  background: #506aac90;
  border-radius: 16px;
  overflow: hidden;
  height: 500px;
  width: 100%; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(14, 108, 239, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
  
}

.github-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.github-icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 25px 60px rgba(0,0,0,0.6);
  z-index: 10;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content h3 {
  color: #cbd5f5;
  font-size: 1.15rem;
  margin: 0;
}

.card-content p {
  font-size: 0.95rem;
  color: #cbd5f5;
  line-height: 1.5;
}

.card-year h3{
  position: absolute;
  bottom: .3rem;
  left: 1.5rem;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

@media (max-width: 640px) {
  .carousel-section {
    justify-content: center;
    flex-wrap: wrap;
    margin: -10;
    margin-top: 40;
    margin-bottom: 40;
    height: auto;
    
  }

  .carousel {
    height: auto; 
    display: flex;
    flex-direction: column; 
    overflow-x: hidden; 
    overflow-y: auto; 
    scroll-behavior: smooth;
    gap: 10rem; 
    padding: 0 1rem;
    max-height: 80vh;
    overflow-x: hidden; /* Hides the horizontal scrollbar */
    max-width: 100%;
  }

  .carousel-track {
    display: flex;
    flex-direction: column; 
    gap: 6rem; 
    padding: 0;
    width: 100%; 
    
  }

  .project-card:first-child,
  .project-card:last-child {
    margin: 0; 
  }

  .project-card {
    flex: 0 0 auto; 
    width: 85%; 
  }

  .card {
    height: 400px;
  }

  .card img {
    height: 150px;
  }
}



/* PersonalInfo */
.info{
  margin-top: 15vh;
  gap: 13vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.tilt-wrapper {
  perspective: 1000px;
  width: 400;
  height: 550;
  background-color: transparent;
  box-shadow: 30px 30px 45px rgba(14, 108, 239, 0.4);
}

.tilt-card {
  width: 350px;
  height: 400;
  transition: transform 0.15s ease-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.resume{
  width: 400px;
  height: 550px;
}

.contact-container {
  height: 500px;
  width: 550px;
  padding: 25px; 
  border-radius: 12px;
  background: #506aac90;
  box-shadow: 15px 15px 40px rgba(14, 108, 239, 0.4);
  color: rgb(239, 239, 255);
}

.contact-container h2 {
  margin-bottom: 24px;
  text-align: center;
}

.contact-links p {
  margin: 8px 0;
  font-size: 16px;
  color: rgb(239, 239, 255);
}

.contact-links a {
  color: #000000;
  text-decoration: none;
  color: rgb(239, 239, 255);
}

.contact-links a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  resize: none;
}

.contact-form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; 
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #3298ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background: #3399ff;
}

.submit-popup {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; 
  margin-top: 12px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #53ff9285;
  color: #000;
  font-weight: bold;
  animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 1200px) {
  .tilt-wrapper{
    display: none; 
  }
  .tilt-card{
    display: none; 
  }
  .resume{
    display: none; 
  }

}

@media (max-width: 640px) {
  .contact-container{
    width: 80vw;
  }

}
